# Ignore all files without an extension
*

# Do not ignore directories, so the include rules can be applied to their contents
!*/

# Specifically include .go files
!**/*.go

# Additionally include README.md files
!**/README.md

!.gitignore

!**/*.mod

# Ignore common build artifacts
*.exe
*.out
*.dll
*.so
*.dylib